<!DOCTYPE html>
<html>
<head>
	<title>
		todo-app 
	</title>

    <link rel="stylesheet" type="text/css" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>
<body data-name="<%= message %>">
    <div id="container"> </div>

 <!--  <script type="text/javascript" src="http://localhost:8080/build/vendors.bundle.js"></script>
    <script type="text/javascript" src="http://localhost:8080/build/todoApp.bundle.js"></script> -->

    <script type="text/javascript" src="/build/vendors.bundle.js"></script>
    <script type="text/javascript" src="/build/todoApp.bundle.js"></script>  
</body>
</html>